@charset "UTF-8";

main{
    max-width: 400px;
    margin: auto;
}
header{
    
    background: black fixed;
    color: white;
    padding-top: 80PX;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 16PX;
    margin: -90px;
    margin-bottom: 16PX;
}
section> P{
   
    margin-left: -4EM;
    margin-right: 300PX;
    background-position: left left;
}