@charset "UTF-8";

main{
    max-width: 400px;
    margin: auto;
}
header{
    
    background: black fixed;
    color: white;
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
    margin: -10px;
}